<div *ngIf="eggIsDone === true" class="element" style="display: block; height: 100vh; width: 100%;">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
          <nb-card>
            <nb-card-body>
                <button nbButton status="danger" fullWidth (click)=reset()>Stäng av alarm</button>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-sm"></div>
      </div>
</div>

<nb-layout>
  <nb-layout-header fixed>
    <h4>kokaägg.nu <span style="font-weight: 100; font-size: 16px;">| 341 kokade ägg</span>
    </h4>

    <ul class="navbar-nav ml-auto">
        <nb-actions size="small">
            <nb-action icon="fa fa-heart" nbPopover="Gilla den här appen" nbPopoverMode="hint" nbPopoverPlacement="bottom" badgeText="{{likes}}"
            badgeStatus="danger">
            </nb-action>
            <nb-action icon="fa fa-bar-chart" nbPopover="Visa statistik (Ej ännu implementerat)" nbPopoverMode="hint" nbPopoverPlacement="bottom"></nb-action>
            <nb-action (click)="toggle()" icon="nb-menu" nbPopover="Visa sidebar" nbPopoverMode="hint" nbPopoverPlacement="bottom"></nb-action>
        </nb-actions>
    </ul>

    <nb-badge text="v1.1" status="info" size="small" position="top right"></nb-badge>

  </nb-layout-header>

  <nb-layout-column >
    <div class="row no-padding">
      <div class="col-md-8 col-sm-12 no-padding">

        <nb-card *ngIf="eggIsDone === false" >
            <nb-card-body>
                <nb-stepper orientation="horizontal">

                <!-- Wizard 1 -->
                <nb-step [label]="labelOne">
                    <ng-template #labelOne>Välkommen</ng-template>
                    <div class="dropdown-divider"></div>

                    <div class="row no-padding">
                            <div class="col-md-6 col-sm-12 no-padding">
                                <h1>Koka ägg</h1>
                                  <p>Den här sidan hjälper dig att lyckas med det perfekt kokade ägget.</p>
                                </div>
                        <div class="col-md-6 col-sm-12">
                            <h3>Tillvägagångsätt</h3>
                            <ul>
                              <li>Dra på plattan på max och koka upp rikligt med vatten i en kastrull</li>
                              <li>Dra ner plattan ett eller två snäpp</li>
                              <li style="color:deepskyblue">Om du har problem med ägg som spricker, häll i ca 1 msk salt i vattnet</li>
                              <li>Lägg ner äggen försiktigt, en och en, men hjälp av en matsked.</li>
                              <li>Starta timern! Ditt ägg är klart på 5-10 minuter.</li>
                            </ul>
                        </div>

                      </div>


                      <div class="dropdown-divider"></div>

                        <button nbButton nbStepperNext fullWidth status="danger" size="small">Ställ in timer</button>
                    </nb-step>

                <!-- Wizard 2 -->
                    <nb-step [label]="labelTwo">
                        <ng-template #labelTwo>Äggtimer</ng-template>
                        <div class="dropdown-divider"></div>

                        <div class="row" style="padding-bottom: 50px;">



                        <div class="col-sm-8">
                            <h3>Dina inställningar</h3>

                                <h6>Hurdant vill du ha ditt ägg?</h6>

                                <label class="custom-control custom-radio">
                                  <input id="radio1" name="radio" type="radio" class="custom-control-input" (click)="egg.type = 'löskokt'; updateEggTimer()">
                                  <span class="custom-control-indicator"></span>
                                  <span class="custom-control-description">Löskokt</span>
                                </label>
                                <label class="custom-control custom-radio">
                                  <input id="radio2" name="radio" type="radio" class="custom-control-input" checked="checked" (click)="egg.type = 'mjukkokt'; updateEggTimer()">
                                  <span class="custom-control-indicator"></span>
                                  <span class="custom-control-description">Mjukkokt</span>
                                </label>
                                <label class="custom-control custom-radio">
                                  <input id="radio2" name="radio" type="radio" class="custom-control-input"  (click)="egg.type = 'hårdkokt'; updateEggTimer()">
                                  <span class="custom-control-indicator"></span>
                                  <span class="custom-control-description">Hårdkokt</span>
                                </label>

                                <h6>Temperatur på ägg</h6>

                                <label class="custom-control custom-radio">
                                  <input id="radio1" name="radio2" type="radio" class="custom-control-input" checked="checked" (click)="egg.starttemp = 'cool'; updateEggTimer()">
                                  <span class="custom-control-indicator"></span>
                                  <span class="custom-control-description">Äggen är kylsåpskalla</span>
                                </label>
                                <label class="custom-control custom-radio">
                                  <input id="radio2" name="radio2" type="radio" class="custom-control-input" (click)="egg.starttemp = 'warm'; updateEggTimer()">
                                  <span class="custom-control-indicator"></span>
                                  <span class="custom-control-description">Äggen är rumstempurerade</span>
                                </label>


                            </div>

                            <div class="col-sm-4">
                            <h3>Koktid</h3>
                            <h1>{{eggtimer | minuteSeconds}}</h1>

                            <h6>När äggen är klara...</h6>

                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" checked [checked]="egg.sound" (change)="egg.sound = !egg.sound">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Spelas ett ljud </span>
                            </label>
                            <span (click)=playAudio() style="color: #ff4c6a">Testa</span>
                            </div>
                        </div>
                        <div>
                            <div class="dropdown-divider">
                            </div>

                            <div class="row">

                                    <button class="pull-left" nbButton nbStepperPrevious status="danger" size="small">Tillbaka</button>

                                    <button class="pull-right" nbButton nbStepperNext status="danger" size="small" (click)=startTimer()>Starta</button>

                            </div>
                          </div>
                    </nb-step>

                    <!-- Wizard 3 -->
                    <nb-step [label]="labelFour">
                    <ng-template #labelFour>Koka</ng-template>
                    <div class="dropdown-divider"></div>
                    <h3>Kokar ägg...  <span style="font-weight: 100;">{{egg.type}}...     {{ timer$ | minuteSeconds }} av
                      {{ eggtimer | minuteSeconds }}</span></h3>

                        <div class="dropdown-divider">
                        </div>


                        <nb-progress-bar status="danger" [value]="timer2"></nb-progress-bar>



                        <div>
                          <div class="dropdown-divider">
                          </div>

                          <div class="row">
                            <div class="col-sm">
                              <button nbButton nbStepperPrevious status="danger" (click)=reset()>Tillbaka</button>
                          </div>
                          </div>
                        </div>
                    </nb-step>
                </nb-stepper>
            </nb-card-body>
        </nb-card>

        <nb-card>
          <nb-card-header>
            Nyheter i v1.1
          </nb-card-header>
          <nb-card-body>
            <ul>
              <li>Fullt fungerande äggklocka</li>
              <li>Välj om du vill bli notifierad med ljud</li>
              <li>Bli notiferad av skärmen när ägget är klart</li>
              <li>Mobilanpassning</li>
              <li>Debugdata synlig</li>
              <li>Gilla Kokaägg.nu knapp fungerar! Inte än.</li>
            </ul>
          </nb-card-body>
        </nb-card>

        <nb-card  *ngIf="eggIsDone === true">
            <nb-card-header>Ditt ägg är klart!</nb-card-header>
            <nb-card-body>

            </nb-card-body>
            <nb-card-footer>
                <button nbButton status="danger" (click)=reset()>Koka fler ägg!</button>
            </nb-card-footer>
        </nb-card>

        </div>

        <div class="col-md-4 col-sm-12">

        <nb-accordion>
            <nb-accordion-item>
             <nb-accordion-item-header>Näringsämnen i ägg</nb-accordion-item-header>
             <nb-accordion-item-body>
                        <div class="row">
                                <div class="col-sm-4">
                                    <img  class="img-fluid" src="../assets/powerup_rune.png" alt="">
                                </div>

                                <div class="col-sm-8">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">Ämne</th>
                                            <th scope="col">1 medelägg</th>
                                           </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">Energi (Kcal)</th>
                                            <td>77</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Protein (g)</th>
                                            <td>6,8</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Fett (g)</th>
                                            <td>5,5</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Kolhydrater (g)</th>
                                            <td>0,2</td>
                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
              <nb-accordion-item-header>Så får du lättskalade ägg</nb-accordion-item-header>
              <nb-accordion-item-body>
                  <p>WIP</p>
             </nb-accordion-item-body>
           </nb-accordion-item>
           <nb-accordion-item>
              <nb-accordion-item-header>Hjälp! Äggen spricker!</nb-accordion-item-header>
              <nb-accordion-item-body>
                  <p>WIP</p>
             </nb-accordion-item-body>
           </nb-accordion-item>
           <nb-accordion-item>
              <nb-accordion-item-header>Välj ekologiska ägg!</nb-accordion-item-header>
              <nb-accordion-item-body>
                  <p>Ekologiska ägg är godare! Dessutom får värphönorna ett bättre liv. WIP</p>
             </nb-accordion-item-body>
           </nb-accordion-item>
           <nb-accordion-item>
              <nb-accordion-item-header>Hur länge håller sig ett ägg?</nb-accordion-item-header>
              <nb-accordion-item-body>
                  <p>WIP</p>
             </nb-accordion-item-body>
           </nb-accordion-item>
        </nb-accordion>

        <nb-card style="margin-top: 20px;">
            <nb-card-body>
              <h4>Byggd med</h4>
              <ul>
                <li (click)="saveTask()">TypeScript</li>
                <li (click)="eggIsDone = true">Angular 2+ (6)</li>
                <li>Nebular UI</li>
                <li>Firebase Firestore</li>
              </ul>
              <h4>Debug</h4>
              {{debug}}
            </nb-card-body>
            <nb-card-footer>
              <a href="http://042a.github.com">http://042a.github.com</a>
            </nb-card-footer>
          </nb-card>



        </div>



     </div>

    </nb-layout-column>

    <nb-sidebar responsive>
    <!-- <div *ngIf="todos.length > 0"> -->
        <div *ngFor="let egg of tasks | async; let i = index; reverse"
        [@flyInOut]="'in'" >
            <nb-alert status="danger" (click)="deleteTask(egg)">
            <span style="font-size: 14px;"> Någon i {{egg.region}} kokade ett {{egg.type}} ägg! </span>
            <!-- <nb-badge text="{{todo.timestamp | minuteSeconds}}" status="success" position="top right"></nb-badge>
             -->
            </nb-alert>
    <!--     </div> -->
    </div>



    </nb-sidebar>
</nb-layout>
